/* .ColorBox {
	position: relative;
	width: 20%;
	height: 25%;
	margin: 0 auto;
	display: inline-block;
	margin-bottom: -4px;
} */
/* .SingleColorPalette .ColorBox {
	height: 50%;
} */
/* .ColorBox.go-back {
	background-color: black;
} */

/* .box-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.2em;
	color: black;
	font-size: 0.8rem;
	letter-spacing: 1px;
	text-transform: uppercase;
} */
/* .light-text {
	color: white;
}
.ColorBox .dark-text {
	color: rgba(0,0,0,0.5);
} */

/* .copy-button,  */
/* .back-button {
	width: 100px;
	height: 30px;
	position: absolute;
	display: inline-block;
	top: calc(50% - 15px);
	left: calc(50% - 50px);
	outline: none;
	border: none;
	background: rgba(255,255,255,0.3);
	font-size: 1rem;
	line-height: 30px;
	color: #f1f1f1;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
} */
/* .copy-button {
	opacity: 0;
} */
/* .back-button {
	opacity: 1;
} */

/* .ColorBox:hover .copy-button {
	opacity: 1;
	transition: 0.5s;
} */
/* 
.copy-button::before,
.copy-button::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
}
.copy-button::before,
.copy-button::after {
	background: #fff;
}
.copy-button.dark-text::before,
.copy-button.dark-text::after {
	background: rgba(0,0,0,0.5);
}

.copy-button::before {
	top: 0;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
}

.copy-button::after {
	bottom: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
}

.copy-button:hover,
.copy-button:focus {
	color: #fff;
	background-color: transparent;
}
.copy-button.dark-text:hover,
.copy-button.dark-text:focus {
	color: rgba(0,0,0,0.5);
	background-color: transparent;
}

.copy-button:hover::before,
.copy-button:focus::before,
.copy-button:hover::after,
.copy-button:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
} */

/* .see-more {
	background: rgba(255,255,255,0.3);
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0.2em 0.6em;
	font-size: 0.8rem;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
} */
/* 
.copy-overlay {
	opacity: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	transform: scale(0.1);
	transition: transform 0.5s ease-in-out;
}
.copy-overlay.show {
	opacity: 1;
	transform: scale(50);
	z-index: 10;
	position:absolute;
} */
/* .copy-message {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	text-align: center;
	color: white;
	opacity: 0;
	transform:scale(0);
}
.copy-message.show {
	opacity: 1;
	transform: scale(1);
	z-index: 11;
	transition: all 0.4s ease-in-out;
	transition-delay: 0.3s;
}
.copy-message h1 {
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 1px 2px #000;
	background: linear-gradient(to right, transparent, rgba(255,255,255,0.2), transparent) ;
	width: 100%;
	margin-bottom: 0;
	padding: 1rem;
}
.copy-message p {
	font-size: 2rem;
	font-weight: 100;
} */