.Navbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 6vh;
}
.Navbar-logo {
	display: flex;
	align-items: center;
	height: 100%;
	margin-right: 15px;
	padding: 0 13px;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	background-color: #d5d5d5;
}

.Navbar-logo i {
	margin-right: 8px;
  background: -webkit-linear-gradient(45deg, #9c4f96, #ff6355, #fba949, #fae442, #8bd448, #2aa8f2);
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Navbar-logo a {
	text-decoration: none;
	color: #000;
}
.slider {
	width: 340px;
	margin: 0 10px;
	display: inline-block;
}
.rc-slider-track {
	background-color: transparent;
}
.rc-slider-rail {
	margin-top:-2px;
	height: 12px;
	background: linear-gradient(to right, #e9e9e9, #6f6f6f);
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
	outline: none;
	box-shadow: none;
	width:18px;
	height:18px;
	margin-top: -6px;
}
.rc-slider-handle,
.rc-slider-handle:focus {
	background-color: #a9a9a9;
	border: 2px solid #000;
}
.rc-slider-handle:active,
.rc-slider-handle:hover {
	background-color: #000;
	border: 2px solid #000;
}
