.Palette {
	height: 100vh;
	overflow: hidden;
}
.Palette-colors {
	height: 90%;
}
.slider {
	width: 340px;
	margin: 0 10px;
	display: inline-block;
}
.rc-slider-track {
	background-color: transparent; 	/* remove default highlight position on slider */
}
.rc-slider-rail {
	height: 8px;
	background: linear-gradient(to right, #e9e9e9, #6f6f6f);
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
	outline: none;
	box-shadow: none;
	width:18px;
	height:18px;
	margin-top: -6px;
}
.rc-slider-handle,
.rc-slider-handle:focus {
	background-color: #a9a9a9;
	border: 2px solid #000;
}
.rc-slider-handle:active,
.rc-slider-handle:hover {
	background-color: #000;
	border: 2px solid #000;
}
